.threadCard {
  background-color: #252d3a;
  border-radius: 10px;
  box-shadow: 20px 20px 10px #12151d;
  padding: 0 20px 20px 20px;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
}
.nameDateContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.nameDate {
  padding: 0;
  margin: 0;
}
.name {
  font-size: 20px;
  font-weight: 500;
}
.title {
  cursor: pointer;
}
.date {
  opacity: 0.5;
  font-size: 12px;
}
.buttonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding-top: 10px;
}
.content {
  font-size: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  overflow: hidden;
}
.likeDislikeContainer {
  display: flex;
  gap: 10px;
}

.buttonBase {
  border: none;
  padding: 3px 5px;
  border-radius: 5px;
  color: white;
  background-color: #7299e1;
}

.likeButton {
  background-color: green;
}

.dislikeButton {
  background-color: red;
}

.neutralButton {
  background-color: gray;
}
