* {
  padding: 0;
  margin: 0;
}
.singleThreadContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 25px;
  border-bottom: 5px solid black;
  width: 700px;
}
.nameDateContainer {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.date {
  opacity: 0.5;
}
.name {
  font-size: 20px;
}
.contentContainer {
  margin: 25px 0;
  overflow: hidden;
  overflow-wrap: break-word;
  white-space: normal;
  text-align: justify;
}
.reactButton {
  padding: 2px 10px;
}
.reactButtonsContainer {
  display: flex;
  gap: 10px;
}
.titleContainer {
  overflow: hidden;
  overflow-wrap: break-word;
  white-space: normal;
  text-align: justify;
}
